@import 'tailwindcss';
@import '@sathene/ui/styles';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../../packages/ui';

.dashboard-grid {
    @apply grid h-screen;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        'sidebar toolbar'
        'sidebar content';
}

.dashboard-sidebar {
    grid-area: sidebar;
}

.dashboard-toolbar {
    grid-area: toolbar;
}

.dashboard-content {
    grid-area: content;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl font-black lg:text-6xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }
    p {
        @apply leading-5;
    }
}
